* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

.main-content {
    display: flex;
    min-height: 100vh;
    background-color: #F5F5F7;
}

.l-sidebar {
    width: 422px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.l-sidebar .logo {
    font-size: 24px;
    color: #00D886;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bi-pie-chart , .bi-graph-up , .bi-trash , .bi-people , .bi-cash , .bi-box-seam {
    padding-left: 40px;
    padding-right: 10px;
}

.l-sidebar nav a {
    display: block;
    color: #7E7E7E;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 15px;
    transition: 0.5s;
}

.l-sidebar nav a:hover {
    color: #1D1D1F;
}

.l-sidebar nav a.active {
    padding-left: 0px;
    color: #ffffff;
    font-weight:600;
    background: linear-gradient(90deg, #01C4F4, #00D886, #F0EB19);
    border-radius: 12px;
}

.signout {
    padding-left: 20px;
    color: #FA5A7D;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 20px;
    transition: 0.5s;
}

.signout:hover {
    color: #b30000;
}

/* r-sidebar */
.r-sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mid {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #1D1D1F;
}

.nav-current {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}

.nav-active {
    color: #00D886;
    font-weight: bold;
}

.user-info {
    font-size: 15px;
}

.user-info .role {
    display: flex;
    flex-direction: column;
    color: #7E7E7E;
    font-size: 10px;
}



/* paste the new content here */
/* top categories */
.top-categories {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.top-btn {
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.top-btn:hover {
    background-color: #FFC80C;
    color: #fff;
}

.bi-list , .bi-egg-fried , .bi-layout-sidebar-reverse , .bi-basket , .bi-plus-circle {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #FFC80C;
} 
/* choose your option */
.options {
    background-color: #ffffff;
    margin: 0 20px;
    border-radius: 12px;
}

.divider {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 40px 40px 0px 40px;
}

.bi-star {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #FFC80C;
}

.divider h2 {
    font-size: 20px;
    font-weight: 500;
}

.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #CBCBCB;
    margin: 0 10px;
}

.items {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.items button {
    border-radius: 12px;
    border: none;
    height: 60px;
    width: 230px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFF8E2;
    color: #FFC80C;
    cursor: pointer;
}

.items-row1 , .items-row2 , .items-row3 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.items-row1 button , .items-row2 button , .items-row3 button {
    transition: 0.5s;
}

.items-row1 button:hover , .items-row2 button:hover , .items-row3 button:hover {
    background-color: #FFC80C;
    color: #fff;
}



/* action */
.actions {
    background-color: #ffffff;
    margin: 20px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
}
/* left panel */
.controls {
    height: auto;
    width: 60%;
    margin: 0px 10px 0px 0px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.quantity button {
    padding: 15px;
    margin-bottom: 20px;
    width: 170px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.item-correct {
    background-color: #FFF8E2;
    color: #FFC80C;
    transition: 0.5s;
}

.item-correct:hover {
    background-color: #FFC80C;
    color: #fff;
}

.plus-quantity {
    background-color: #EDFFDF;
    color: #66DF09;
    transition: 0.5s;
}

.plus-quantity:hover {
    background-color: #66DF09;
    color: #fff;
}

.bi-plus {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #66DF09;
}

.sub-quantity {
    background-color: #FFE5E5;
    color: #FA5A7D;
    transition: 0.5s;
}

.sub-quantity:hover {
    background-color: #FA5A7D;
    color: #fff;
}

.bi-dash {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #FA5A7D;
}

.display {
    background-color: #F5F5F7;
    margin-right: 20px;
    border: none;
    border-radius: 12px;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.print-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.print-order {
    padding: 40px 60px;
    background-color: #F5F5F7;
    border-radius: 12px;
    height: 100%;
    width: auto;
}

/* scroll custom design */
.display::-webkit-scrollbar {
    width: 8px; 
}

.display::-webkit-scrollbar-track {
    background: #F5F5F7; 
    border-radius: 10px;
}

.display::-webkit-scrollbar-thumb {
    background: #CBCBCB; 
    border-radius: 10px; 
    transition:  0.3s;
}

.display::-webkit-scrollbar-thumb:hover {
    background: #A5A5A5;
}

.print-order h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.print-order table {
    width: 100%;
    border-collapse: collapse;
}

.tb-left {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.tb-right  {
    padding: 10px;
    text-align: right;
    font-size: 14px;
}
thead {
    font-weight: 900;
}
/* right panel */
.checkout {
    height: auto;
    width: 40%;
    margin: 0px 0px 0px 10px;
    display: flex;
    gap: 20px;
}

.column1-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 50%;
}

.column2-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 50%;
}

.yellow-btn {
    background-color: #FFF8E2;
    color: #FFC80C;
    border: none;
    border-radius: 12px;
    height: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.yellow-btn:hover {
    background-color: #FFC80C;
    color: #FFF8E2;
}

.home-btn {
    background: linear-gradient(90deg, #01C4F4, #00D886, #F0EB19);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    height: 100px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.home-btn:hover {
    opacity: 70%;
}

.discount-btn {
    background-color: #F5F5F7;
    color: #1D1D1F;
    border: none;
    border-radius: 12px;
    height: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.discount-btn:hover {
    background-color: #1D1D1F;
    color: #fff;
}

.waste-btn {
    background-color: #F5F5F7;
    color: #1D1D1F;
    border: none;
    border-radius: 12px;
    height: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.waste-btn:hover {
    background-color: #1D1D1F;
    color: #fff;
}

.bi-house-door {
    font-size: 50px;
}

.bi-percent {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #1D1D1F;
}

.bi-coin {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #1D1D1F;
}

.bi-trash3 {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #1D1D1F;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff;
    margin-top: auto; 
}

.footer-section {
    width: 30%;
    font-size: 10px;
}
.more-information-row {
    display: flex;
    justify-content: space-between;
}

.more-information-column1  , .more-information-column2 , .more-information-column3{
    display: flex;
    flex-direction: column;
}