* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

.main-content {
    display: flex;
    min-height: 100vh;
    background-color: #F5F5F7;
}

.l-sidebar {
    width: 422px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.l-sidebar .logo {
    font-size: 24px;
    color: #00D886;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bi-pie-chart , .bi-graph-up , .bi-trash , .bi-people , .bi-cash , .bi-box-seam {
    padding-left: 40px;
    padding-right: 10px;
}

.l-sidebar nav a {
    display: block;
    color: #7E7E7E;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 15px;
    transition: 0.5s;
}

.l-sidebar nav a:hover {
    color: #1D1D1F;
}

.l-sidebar nav a.active {
    padding-left: 5px;
    color: #ffffff;
    font-weight:600;
    background: linear-gradient(90deg, #01C4F4, #00D886, #F0EB19);
    border-radius: 12px;
}

.signout {
    padding-left: 20px;
    color: #FA5A7D;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 20px;
    transition: 0.5s;
}

.signout:hover {
    color: #b30000;
}

/* r-sidebar */
.r-sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mid {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #1D1D1F;
}

.nav-current {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}

.nav-active {
    color: #00D886;
    font-weight: bold;
}

.user-info {
    font-size: 15px;
}

.user-info .role {
    display: flex;
    flex-direction: column;
    color: #7E7E7E;
    font-size: 10px;
}



/* paste the new content here */
/* container0 */
.container0 {
    display: flex;
    flex-direction: column;
}
/* container1 */
.container1 {
    margin: 0px 50px;
    padding: 40px;
}

.container1 h2 {
    font-size: 22px;
    color: #FFC80C;
}
/* container2 */
.container2 {
    margin: 0px 50px 50px 50px;
    display: flex;
    gap: 40px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
}

.order-list {
    height: auto;
    width: 60%;
}

.order-list table {
    width: 550px;
    border-collapse: collapse;
}

.order-list th, .order-list td {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.order-list th {
    color: #1D1D1F;
    font-weight: 600;
    border-bottom: 1px solid #CBCBCB;
}

.order-list td {
    border-bottom: 1px solid #EDF2F6;
    color: #1D1D1F;
}

.order-list tr:last-child td {
    border-bottom: none;
}
/* print order */
.print-area {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.print-order {
    padding: 20px;
    background-color: #F5F5F7;
    border-radius: 12px;
    height: 100%;
    width: auto;
}

.print-order p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.print-order table {
    width: 350px;
    border-collapse: collapse;
}

.tb-left {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.tb-right  {
    padding: 10px;
    text-align: right;
    font-size: 14px;
}

.buttons {
    display: flex;              
    justify-content: space-between;   
    align-items: center;        
    gap: 20px;    
    margin-top: 40px;      
}

#print-btn {
    background-color: #E4F8FF;
    color: #01C4F4;
    border: none;
    border-radius: 12px;
    height: 60px;
    width: 170px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}

#print-btn:hover {
    background-color: #01C4F4;
    color: #E4F8FF;
}

#cancel-btn {
    background-color: #FFE5E5;
    color: #FA5A7D;
    border: none;
    border-radius: 12px;
    height: 60px;
    width: 170px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}

#cancel-btn:hover {
    background-color: #FA5A7D;
    color: #FFE5E5;
}




/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff;
    margin-top: auto; 
}

.footer-section {
    width: 30%;
    font-size: 10px;
}
.more-information-row {
    display: flex;
    justify-content: space-between;
}

.more-information-column1  , .more-information-column2 , .more-information-column3{
    display: flex;
    flex-direction: column;
}